/* Styles used only for multi-column layouts */

#main {
  width: 45em;
  float: right;
  margin-bottom: 0.5em;
}

#navigation {
  background-color: #eef;
  width: 10em;
  float: left;
  margin: 0 0 0.5em 0.25em;
  padding: 0;
  border-top: 1px #ccc dotted;
}

#navigation ul {
  margin: 0;
  list-style-type: none;
  list-style-image: none;
}

#navigation ul span,
#navigation ul a {
  display: block;
  width: 9em;
  padding: 0.25em;
  color: #336;
}

#navigation ul ul span,
#navigation ul ul a {
  width: 8em;
}

#navigation a {
  text-decoration: none;
}

#navigation a:hover {
  background-color: #eec;
}

#navigation li {
  padding: 0.25em;
  border-bottom: 1px #ccc dotted;
}

#navigation li.sub-item {
  font-size: 85%;
}

#navigation li li {
  padding: 0 0 0 1em;
  border-bottom: none;
  background-image: url("/img/markup/bullet-nav.gif");
  background-repeat: no-repeat;
  background-position: 4px 50%;
}

#navigation li.selected span {
  color: #99c;
}

#navigation li li.selected {
  background-image: url("/img/markup/bullet-nav-sel.gif");
  background-repeat: no-repeat;
  background-position: 4px 50%;
}

#navigation .search {
  margin-top: 1em;
  padding-bottom: 1em;
  text-align: center;
  border-bottom: 1px #ccc dotted;
}

#navigation .search .button {
  margin-top: 0.5em;
  background-color: #ccd;
}
