/* styles content on specific tip pages */
table.infotable{
  font-size: 80%;
  border-top: 1px silver solid;
  border-bottom: 1px silver solid;
  width: 100%;
  margin: 1em 0;
  color: gray;
}
table.infotable th {
  text-align: left;
  font-weight: normal;
  width: 20%;
}
.credits {
  font-size: 80%;
  text-align: right;
  border-top: silver 1px dotted;
  border-bottom: silver 1px dotted;
  border-right: silver 1px dotted;
  border-left: silver 1em solid;
  margin-left: 10%;
  padding: 0.25em;
  background-color: #eee;
}
.question {
  margin-left: 0;
  margin-right: 0em;
  border: #dde 1px dotted;
  border-left: #dde 2em solid;
  background-color: #eef;
  padding: 0.25em 0.25em 0.25em 0.5em;
}
.question .title {
  font-style: italic;
  font-weight: bold;
  font-variant: small-caps;
}
.question .content {
  margin-top: 0.5em;
}

div.demo-block {
  border: 1px silver solid;
  background-color: #ffc;
  padding: 0 0.5em;
}
.demo-block .credits {
  border-top: #cc9 1px dotted;
  border-bottom: #cc9 1px dotted;
  border-right: #cc9 1px dotted;
  border-left: #cc9 1em solid;
  background-color: #eeb;
}
.demo-block .reporef {
  font-size: 80%;
  border: #cc9 1px dotted;
  background-color: #eeb;
  padding: 0.5em;
}
/* override #wrapper */
#wrapper {
    width: auto;
    border: none;
    text-align: left;
    margin-left: auto;
    margin-right: auto;
  xpadding: 1em;
  padding-bottom: 0;
}
#wrapper h1 {
  background-color: transparent;
}
pre {
  overflow-x: auto;
  mmax-width:600px
}
/* Additional CSS for Redirection Note */
.redirect-note {
  background-color: #ffdddd;
  color: darkred;
  border: 1px darkred dotted;
  border-left: 12px darkred solid;
  padding: 1em;
  margin: 0 0;
}
.redirect-note a {
  display: block;
  color: darkred;
  margin-top: 1em;
}
