/* styles list of tips and containing scroll box */
ul.tipslist {
  margin-top: 0;
  margin-left: 0;
  margin-bottom: 0;
  padding-bottom: 0.5em;
  list-style: none;
}
ul.tipslist li {
  border-bottom: 1px silver dotted;
  padding-top: 0.25em;
  padding-bottom: 0.25em;
}
ul.tipslist a {
  text-decoration: none;
}
ul.tipslist a:hover {
  background-color: #eec;
}
span.rank {
  font-size: 90%;
  color: gray;
  float: right;
  margin-left: 1em;
  width: 6em;
  text-align: right;
}
.scrollbox {
  padding: 0 0.5em;
}

/* styles content on specific tip pages */
table.infotable{
  font-size: 80%;
  border-top: 1px silver solid;
  border-bottom: 1px silver solid;
  width: 100%;
  margin: 1em 0;
  color: gray;
}
table.infotable th {
  text-align: left;
  font-weight: normal;
  width: 20%;
}
.credits {
  font-size: 80%;
  text-align: right;
  border-top: silver 1px dotted;
  border-bottom: silver 1px dotted;
  border-right: silver 1px dotted;
  border-left: silver 1em solid;
  margin-left: 10%;
  padding: 0.25em;
  background-color: #eee;
}
.question {
  margin-left: 0;
  margin-right: 0em;
  border: #dde 1px dotted;
  border-left: #dde 2em solid;
  background-color: #eef;
  padding: 0.25em 0.25em 0.25em 0.5em;
}
.question .title {
  font-style: italic;
  font-weight: bold;
  font-variant: small-caps;
}
.question .content {
  margin-top: 0.5em;
}

/* styles navigation amongst tips that appears on specific tip pages */
ul.tip-nav {
  margin: 0.5em 0 0 0;
  line-height: normal;
  list-style-type: none;
  list-style-image: none;
  text-align: center;
  padding: 0.75em;
  font-size: 0.8em;
}
ul.tip-nav li {
  margin: 0;
  display: inline;
  padding: 0;
}
ul.tip-nav a,
ul.tip-nav span {
  padding: 0.25em 0.5em;
  border: 1px silver solid;
  text-decoration: none;
  width: 6em;
}
ul.tip-nav a {
  background-color: #eeb;
}
ul.tip-nav a:link,
ul.tip-nav a:visited,
ul.tip-nav a:active,
ul.tip-nav a:hover {
  color: #336;
}
ul.tip-nav a:hover {
  background-color: #eec;
}
ul.tip-nav span {
  color: #cc9;
  border: 1px transparent solid;
}
ul.tip-nav span.current {
  font-weight: bold;
}
ul.tip-nav span.spacer {
  padding-left: 0;
  padding-right: 0;
}

/* styles navigation to first and last tip on main tips page */
ul.tips-nav {
  margin: 1em 0 0 0;
  padding: 0;
  line-height: normal;
  list-style-type: none;
  list-style-image: none;
  font-size: 80%;
  vertical-align: middle;
}
ul.tips-nav li {
  margin: 0;
  display: block;
}
ul.tips-nav a {
  padding: 0.25em;
  font-weight: normal;
  background-color: #eeb;
  border: 1px silver solid;
  text-decoration: none;
  width: 6em;
  display: block;
  text-align: center;
}
ul.tips-nav a:link,
ul.tips-nav a:visited,
ul.tips-nav a:active,
ul.tips-nav a:hover {
  color: #336;
}
ul.tips-nav a:hover {
  background-color: #eec;
}
ul.tips-nav .first {
}
ul.tips-nav .last {
  float: right;
}

/* styles search box */
div.search {
  text-align: center;
  padding: 0;
  margin: 0;
}
div.search .button {
  background-color: #eeb;
  border-left: 1px #ccc solid;
  border-top: 1px #ccc solid;
  border-bottom: 1px #999 solid;
  border-right: 1px #999 solid;
}
div.search .button:hover {
  background-color: #eec;
}

/* help link */
.help {
  width: 6em;
  text-align: right;
  float: right;
  padding-top: 1em;
  padding-right: 0.25em;
  font-size: 90%;
  font-weight: bold;
}

div.demo-block {
  border: 1px silver solid;
  background-color: #ffc;
  padding: 0 0.5em;
}
.demo-block .credits {
  border-top: #cc9 1px dotted;
  border-bottom: #cc9 1px dotted;
  border-right: #cc9 1px dotted;
  border-left: #cc9 1em solid;
  background-color: #eeb;
}
.demo-block .reporef {
  font-size: 80%;
  border: #cc9 1px dotted;
  background-color: #eeb;
  padding: 0.5em;
}