// Bootstrap defaults

$white:                         #ffffff;
$gray-100:                      #f8f9fa;
$gray-200:                      #e9ecef;
$gray-300:                      #dee2e6;
$gray-400:                      #ced4da;
$gray-500:                      #adb5bd;
$gray-600:                      #6c757d;
$gray-700:                      #495057;
$gray-800:                      #343a40;
$gray-900:                      #212529;
$black:                         #000000;

$body-bg:                       $white;
$body-color:                    $gray-900;

// Palette URL: http://paletton.com/#uid=64k0T0kDlvWjksnr9uTNstFVlri */

$color-primary:                 #d61e1e;	// Main Primary color */
$color-primary-lighter:         #FF6363;
$color-primary-light:           #FF3939;
$color-primary-dark:            #C50000;
$color-primary-darker:          #9B0000;
$color-primary-pale:            #f8b3b3;

$color-secondary-1:             #FF9A00;	// Main Secondary color (1) */
$color-secondary-1-lighter:     #FFC263;
$color-secondary-1-light:       #FFB139;
$color-secondary-1-dark:        #C57700;
$color-secondary-1-darker:      #9B5E00;
$color-secondary-1-pale:        #fadfb3;

$color-secondary-2:             #8F04A8;	// Main Secondary color (2) */
$color-secondary-2-lighter:     #AD4CBD;
$color-secondary-2-light:       #992AAD;
$color-secondary-2-dark:        #6F0381;
$color-secondary-2-darker:      #570266;
$color-secondary-2-pale:        #edc9f3;

$color-complement:              #00CC00;	// Main Complement color */
$color-complement-lighter:      #54D954;
$color-complement-light:        #2ECF2E;
$color-complement-dark:         #009E00;
$color-complement-darker:       #007C00;
$color-complement-pale:         #c0f5c0;

// Custom

$color-grey-lighter:            $gray-100;
$color-grey-light:              $gray-300;
$color-grey:                    $gray-500;
$color-grey-dark:               $gray-700;
$color-grey-darker:             $gray-900;
